<div class="tour-popup" id="tour-popup">
    <h2 class="tour-popup__heading">Popup Title</h2>
    <div class="tour-popup__section">
        <div class="tour-popup__datepicker">
            <div class="js-datetimepicker-inline"></div>
        </div>
    </div>
    <div class="tour-popup__section">
        <div class="tour-popup__section">
            <div class="tour-popup__selection">
                <select name="" id="" class="tour-popup__select">
                    <option value="0">People</option>
                    <option value="0">1 person</option>
                    <option value="0">2 persons</option>
                    <option value="0">3 persons</option>
                    <option value="0">4 persons</option>
                    <option value="0">5 persons</option>
                    <option value="0">6 persons</option>
                </select>
                <input type="text" class="tour-popup__input" placeholder="First name">
                <input type="text" class="tour-popup__input" placeholder="Last name">
                <input type="text" class="tour-popup__input" placeholder="Email">
                <input type="text" class="tour-popup__input" placeholder="Handphone">
                <a href="#" class="tour-popup__btn">Send</a>
            </div>
        </div>
    </div>
</div>
