<div class="enquire-popup" id="enquire-popup">
    <h2 class="enquire-popup__heading">Enquire</h2>
    <div class="enquire-popup__section">
        <div class="enquire-popup__selection">
            <select name="" id="" class="enquire-popup__select">
                <option value="0">People</option>
                <option value="0">1 person</option>
                <option value="0">2 persons</option>
                <option value="0">3 persons</option>
                <option value="0">4 persons</option>
                <option value="0">5 persons</option>
                <option value="0">6 persons</option>
            </select>
            <input type="text" class="enquire-popup__input" placeholder="First name">
            <input type="text" class="enquire-popup__input" placeholder="Last name">
            <input type="text" class="enquire-popup__input" placeholder="Email">
            <input type="text" class="enquire-popup__input" placeholder="Handphone">
            <a href="#" class="enquire-popup__btn">Send</a>
        </div>
    </div>
</div>
