<div class="estimate-fee-popup" id="estimate-fee-popup">
    <h2 class="estimate-fee-popup__heading">Estimate Fee</h2>
    <ul class="estimate-fee-popup__info">
        <li>
            <div class="estimate-fee-popup__label">Price</div>
            <div class="estimate-fee-popup__content"><span class="estimate-fee-popup__price">$850</span></div>
        </li>
        <li>
            <div class="estimate-fee-popup__label">Name</div>
            <div class="estimate-fee-popup__content">David Chan Lik Pun</div>
        </li>
        <li>
            <div class="estimate-fee-popup__label">Handphone</div>
            <div class="estimate-fee-popup__content">+65 1231 1232</div>
        </li>
        <li>
            <a href="#" class="estimate-fee-popup__btn">Reservation &amp; Contact</a>
            <img class="estimate-fee-popup__qr" src="assets/img/common/qr-code.jpg" alt="">
            <p class="estimate-fee-popup__call"><a href="#">or call us on 070 4843 0639</a></p>
        </li>
    </ul>
</div>
