html {
    font-size: 16px;
    @media($medium-desktop) {
        font-size: 14px;
    }
}
body{
  overflow-y: auto;
  overflow-x: hidden;
  color: #666666;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
}

a:active, a:focus {
    text-decoration: none !important;
}

.slick-slide {
  position: relative;
  border: 0;
  outline: none;
}
