<!-- START TOUR ITEM -->
<div class="tour-item-horizontal">
    <div class="tour-item-horizontal__wrap" id="location-1">
        <div class="tour-item-horizontal__label"><img src="assets/img/icons/label-tour-vertical.png" alt="label"></div>
        <div class="tour-item-horizontal__img"><a href="#"><img src="assets/img/tours/tour-item-horizontal.jpg" alt=""></a></div>
        <div class="tour-item-horizontal__content">
            <h4 class="tour-item-horizontal__location">Vietnam, South, Phu Quoc</h4>
            <h3 class="tour-item-horizontal__title"><a href="#">1 Night, 2 Rounds</a></h3>
            <ul class="tour-item-horizontal__info">
                <li>Bed &amp; Breakfast</li>
                <li>2 Rounds</li>
                <li>Dinner</li>
            </ul>
            <div class="tour-item-horizontal__meta">
                <a href="#" class="tour-item-horizontal__btn">More info!</a>
                <div class="tour-item-horizontal__price">
                    <span>from</span>
                    <p>$225</p>
                    <span>per person</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END TOUR ITEM -->


<!-- START TOUR ITEM -->
<div class="tour-item-horizontal">
    <div class="tour-item-horizontal__wrap" id="location-2">
        <div class="tour-item-horizontal__label"><img src="assets/img/icons/label-club-vertical.png" alt="label"></div>
        <div class="tour-item-horizontal__img"><a href="#"><img src="assets/img/tours/tour-item-horizontal.jpg" alt=""></a></div>
        <div class="tour-item-horizontal__content">
            <h4 class="tour-item-horizontal__location">Vietnam, South, Phu Quoc</h4>
            <h3 class="tour-item-horizontal__title"><a href="#">1 Night, 2 Rounds</a></h3>
            <ul class="tour-item-horizontal__info">
                <li>Bed &amp; Breakfast</li>
                <li>2 Rounds</li>
                <li>Dinner</li>
            </ul>
            <div class="tour-item-horizontal__meta">
                <a href="#" class="tour-item-horizontal__btn">More info!</a>
                <div class="tour-item-horizontal__price">
                    <span>from</span>
                    <p>$225</p>
                    <span>per person</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END TOUR ITEM -->
