<!-- START TOUR ITEM with purple label -->
<div class="tour-item-horizontal-label">
    <div class="tour-item-horizontal-label__wrap">
        <div class="tour-item__label"><img src="assets/img/icons/label-club.png" alt="label"></div>
        <div class="tour-item-horizontal-label__content">
            <h3 class="tour-item-horizontal-label__title"><a href="#">1 Night, 2 Rounds</a></h3>
            <div class="tour-item-horizontal-label__labels">
                <div class="tour-item-horizontal-label__label tour-item-horizontal-label__label--purple"><i class="fa fa-tag" aria-hidden="true"></i>Early booking discount</div>
            </div>
            <ul class="tour-item-horizontal-label__info">
                <li>Bed &amp; Breakfast</li>
                <li>2 Rounds</li>
                <li>Dinner</li>
            </ul>
            <div class="tour-item-horizontal-label__meta">
                <a href="#" class="tour-item-horizontal-label__btn">More info!</a>
            </div>
            <div class="tour-item-horizontal-label__price">
                <span>from</span>
                <p>
                    <span class="tour-item-horizontal-label__price__value">$425</span>
                    <span class="tour-item-horizontal-label__price__unit">person</span>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- END TOUR ITEM -->

<!-- START TOUR ITEM with red label -->
<div class="tour-item-horizontal-label">
    <div class="tour-item-horizontal-label__wrap">
        <div class="tour-item__label"><img src="assets/img/icons/label-tour.png" alt="label"></div>
        <div class="tour-item-horizontal-label__content">
            <h3 class="tour-item-horizontal-label__title"><a href="#">1 Night, 2 Rounds</a></h3>
            <div class="tour-item-horizontal-label__labels">
                <div class="tour-item-horizontal-label__label tour-item-horizontal-label__label--red"><i class="fa fa-tag" aria-hidden="true"></i>Flight ticket include</div>
            </div>
            <ul class="tour-item-horizontal-label__info">
                <li>Bed &amp; Breakfast</li>
                <li>2 Rounds</li>
                <li>Dinner</li>
            </ul>
            <div class="tour-item-horizontal-label__meta">
                <a href="#" class="tour-item-horizontal-label__btn">More info!</a>
            </div>
            <div class="tour-item-horizontal-label__price">
                <span>from</span>
                <p>
                    <span class="tour-item-horizontal-label__price__value">$425</span>
                    <span class="tour-item-horizontal-label__price__unit">person</span>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- END TOUR ITEM -->
