<!-- START TOUR ITEM -->
<div class="tour-item">
    <div class="tour-item__wrap">
        <div class="tour-item__img"><a href="#"><img src="assets/img/home/tour1.jpg" alt=""></a></div>
        <div class="tour-item__content">
            <div class="tour-item__label--vertical"><img src="assets/img/icons/label-tour-vertical.png" alt="label"></div>
            <h4 class="tour-item__location">Vietnam, South, Phu Quoc</h4>
            <h3 class="tour-item__title"><a href="#">1 Night, 2 Rounds</a></h3>
            <ul class="tour-item__info">
                <li>Bed &amp; Breakfast</li>
                <li>2 Rounds</li>
                <li>Dinner</li>
            </ul>
            <div class="tour-item__meta">
                <a href="#" class="tour-item__btn">More info!</a>
                <div class="tour-item__price">
                    <span>from</span>
                    <p>$225</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END TOUR ITEM -->
