<!-- START CLUB ITEM -->
<div class="club-item">
    <div class="club-item__wrap">
        <h4 class="club-item__title"><a href="#">Song Be Golf Club</a></h4>
        <div class="club-item__img"><a href="#"><img src="assets/img/home/club1.jpg" alt=""></a></div>
        <div class="club-item__desc">
            Et harum quidem rerum facilis est et expedita distinctio . Nam libero tempore, cum soluta nobisest eligendi optio cumque nihil impedit.
        </div>
        <div class="club-item__meta">
            <a href="#" class="club-item__btn">More info!</a>
            <div class="club-item__price">
                <span>from</span>
                <p>$225</p>
            </div>
        </div>
    </div>
</div>
<!-- END CLUB ITEM -->
