.body-bottom {
    color:#fff;
    background: $cyan-dark;
    font-size: 1.5rem;
    text-transform: uppercase;
    position: relative;
    @media($small-desktop) {
        font-size: 1.3rem;
    }
    @media($tablet) {
        text-align: center;
        padding-bottom: 40px;
    }
    @media($mobile) {
        font-size: 1.2rem;
    }
    &__text {
        width: calc(100% - 290px);
        display: inline-block;
        text-align: center;
        padding :60px 0;
        @media($medium-desktop) {
            padding :40px 0 30px;
        }
        @media($tablet) {
            width: 100%;
            padding-bottom: 10px;
        }
        @media($mobile) {
            margin-bottom: 0px;
            line-height: 1.6;
        }
    }
    &__btn {
        @extend .button;
        @extend .button--border;
        @extend .button--radius;
        @extend .button--big;
        @extend .button--white;
    }
}
