.button {
    @extend .btn;
    border:0;
    white-space: nowrap;
    text-align: center;
    @include transition(0.3s);
    font-size: 1rem;
    &--border {
        border:1px solid $cyan-dark;
    }
    &--radius {
        @include border-radius(5px);
    }
    &--big {
        font-size: 1.5rem;
        text-transform: uppercase;
        line-height: 53px;
        padding:0 20px;
        @media($tablet) {
            line-height: 40px;
            font-size: 1.2rem;
        }
    }
    &--white {
        color:#fff;
        border-color: #fff;
        &:hover {
            color: $cyan-dark;
            background: #fff;
        }
    }
    &--cyan-light {
        background: $cyan-light;
        color:#fff;
        line-height: 46px;
        text-transform: uppercase;
        padding: 0 20px;
        font-size: 1.4rem;
        font-weight: 600;
        @media($tablet) {
            line-height: 30px;
            font-size: 1rem;
        }
        &:hover {
            background: $orange;
            color:#fff;
        }
    }
    &--cyan-dark {
        background: $cyan-dark;
        color:#fff;
        &:hover {
            background: $orange;
            color:#fff;
        }
    }
    &--arrow-right {
        position: relative;
        &:after {
            content:"";
            display: inline-block;
            width: 15px;
            height: 15px;
            border-right: 2px solid $cyan-dark;
            border-bottom: 2px solid $cyan-dark;
            @include transform(rotate(-45deg));
            margin-left: 50px;
            @media($tablet) {
                margin-left: 30px;
                border-right-width: 1px;
                border-bottom-width: 1px;
                width: 12px;
                height: 12px;
            }
        }
        &:hover {
            background: $cyan-dark;
            color:#fff;
            &:after {
                border-color: #fff;
            }
        }
    }
    &--orange {
        background: $orange;
        color:#fff;
        &:hover {
            background: #f7551d;
            color:#fff;
        }
    }
}
