.club-list {
    margin-left: -10px;
    margin-right: -10px;
    font-size: 0;
    text-align: left;
    margin-bottom: 50px;
}

.club-item {
    width: 33.33%;
    font-size: 1rem;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    margin-bottom: 10px;
    @media($mobile) {
        width: 100%;
    }

    a:hover {
        text-decoration: none;
    }

    &__wrap {
        border: 1px solid $cyan-dark;
        background: #fff;
        @include transition(0.3s);
        position: relative;
        top: 0;

        &:hover {
            @include box-shadow(0px 15px 35px rgba(#000,0.2));
            top: -15px;

            .club-item__btn {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__label {
        position: absolute;
        left: 0;
        z-index: 2;
        bottom: 0;
        max-width: 95px;

        &--vertical {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;
        }

        img {
            width: 100%;
        }
    }

    &__title {
        color: $cyan-dark;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 27px 25px;
        margin: 0;
        @media($mobile) {
            font-size: 1.42rem;
            text-align: center;
            padding: 19px 20px;
        }
    }

    &__img {
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    &__desc {
        color: #666666;
        font-size: 1rem;
        padding: 25px;
        @media($mobile) {
            padding: 15px;
        }
    }

    &__meta {
        @extend .clearfix;
        padding: 0 25px;
        @media($mobile) {
            padding: 0 15px;
        }
    }

    &__btn {
        @extend .button;
        @extend .button--cyan-light;
        float: left;
        visibility: hidden;
        opacity: 0;
        @media($mobile) {
            visibility: visible;
            opacity: 1;
            margin-top: 8px;
        }
    }

    &__price {
        text-align: right;
        margin-bottom: 15px;
        @media($mobile) {
            margin-bottom: 10px;
        }

        span {
            display: block;
            color: #999999;
            font-size: 1rem;
            margin-bottom: -2px;
        }

        p {
            display: block;
            margin: 0;
            color: $orange;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}
