.estimate-fee-popup {
    background: #fff;
    width: 100%;
    //max-width: 420px;
    font-size: 1rem;
    padding: 40px;
    display: none;
    @media($mobile) {
        padding: 15px;
    }

    &__heading {
        @extend .tour-popup__heading;
        margin-bottom: 20px !important;
    }

    &__info {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            @extend .clearfix;
            clear: both;
            margin-bottom: 5px;
        }
    }

    &__label {
        float: left;
        color: $cyan-dark;
        font-weight: 600;
    }

    &__content {
        margin-left: 174px;
        font-weight: bold;
        color: $cyan-dark;
        @media($mobile) {
            margin-left: 100px;
        }
    }

    &__price {
        color: $orange;
    }

    &__selects {
        margin-left: -50px;
        @media($mobile) {
            margin-left: -20px;
        }
    }

    &__check {
        text-align: right;
        min-width: 60px;
        margin-left: 0 !important;
        margin-right: 20px;
        margin-bottom: 0 !important;
        cursor: pointer;
        font-weight: 600;
        @media($mobile) {
            margin-right: 5px !important;
            max-width: 50px;
            margin-bottom: 0 !important;
        }

        input {
            display: none;

            & + span {
                display: inline-block;
                height: 20px;
                width: 20px;
                @include border-radius(5px);
                border: 1px solid $cyan-dark;
                vertical-align: middle;
                margin-right: 10px;
                position: relative;

                &:after {
                    content: "";
                    width: 25px;
                    height: 15px;
                    background: url('../img/icons/check.png') center no-repeat;
                    background-size: contain;
                    position: absolute;
                    top: -0px;
                    right: -5px;
                    @include transition(0.3s);
                    opacity: 0;
                }
            }
        }

        input:checked + span {
            &:after {
                opacity: 1;
            }
        }
    }

    &__btn {
        @extend .button;
        @extend .button--orange;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 100%;
        max-width: 220px;
    }

    &__qr {
        max-width: 100%;
        margin-bottom: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 220px;
    }

    &__call {
        max-width: 100%;
        margin-bottom: 10px;
        display: block;
        margin: 0 auto;
        max-width: 220px;
        text-align: center;

        a {
            color: $cyan-dark;
            text-decoration: underline !important;

            &:hover {
                color: $orange;
            }
        }
    }
}
