.fancybox-close {
    width: 37px;
    height: 40px;
    background: url('../img/icons/close.png') center no-repeat;
    background-size: contain;
    right: -100px;
    top:0;
    @media($mobile) {
        right:0;
        top:-40px;
        width: 20px;
        height: 20px;
    }
}

.tour-gallery-wrap {
    .fancybox-inner{
        height: auto !important;
    }

}


.estimateFee-popup {
    .fancybox-inner{
        height: auto !important;
    }
}
.promotion-popup-wrap {
    .fancybox-inner{
        height: auto !important;
    }
}


.booking-tour-popup-wrap {
    .fancybox-inner{
        height: auto !important;
    }
}
.enquire-popup-wrap {
    .fancybox-inner{
        height: auto !important;
    }
}
