.footer {
    border-top: 10px solid $cyan-light;
    position: relative;
    background: #fff;

    &__top {
        background: url('../img/common/footer-bg.jpg') center no-repeat;
        background-size: cover;
        padding-top: 70px;
        padding-bottom: 50px;
        color: #fff;
        @media($mobile) {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    &__heading {
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
        @media($mobile) {
            font-size: 1.25rem;
        }
    }

    &__company-info {
        font-size: 1.25rem;
        color: #fff;
        margin-bottom: 90px;
        @media($tablet) {
            margin-bottom: 30px;
        }
        @media($mobile) {
            font-size: 0.9rem;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                text-transform: uppercase;
                line-height: 1.5;
            }
        }

        &__logo {
            margin-bottom: 35px;
            display: inline-block;
            @media($tablet) {
                margin-bottom: 10px;
            }
            @media($mobile) {
                img {
                    width: 150px;
                }
            }
        }
    }

    &__newsletter {
        &__heading {
            @extend .footer__heading;
            margin-bottom: 5px;
        }

        &__desc {
            line-height: 1.1;
            margin-bottom: 25px;
            @media($mobile) {
                font-size: 0.9rem;
                line-height: 1.2;
            }
        }

        &__form {
            position: relative;
            background: #fff;
            @include border-radius(5px);
            overflow: hidden;
            -webkit-mask-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC");
        }

        &__input {
            width: calc(100% - 90px);
            border: 0;
            line-height: 72px;
            color: #333;
            padding: 0 20px;
            @media($medium-desktop) {
                line-height: 50px;
            }
            @media($mobile) {
                line-height: 35px;
            }
        }

        &__btn {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 90px;
            text-align: center;
            background: $cyan-light;
            line-height: 72px;
            border: 0;
            color: #000;
            font-size: 3.125rem;
            @media($medium-desktop) {
                line-height: 50px;
            }
            @media($mobile) {
                line-height: 35px;
                width: 40px;
                font-size: 2rem;
            }
        }
    }

    &__links {
        padding: 0;
        margin: 50px 0 0;
        list-style: none;
        @media($mobile) {
            margin-top: 30px;
        }

        li {
            font-size: 1.5rem;
            margin-bottom: 25px;
            color: #fff;
            text-transform: uppercase;
            @media($mobile) {
                font-size: 1rem;
                margin-bottom: 5px;
            }

            a {
                color: #fff;
                @include transition(0.3s);

                &:hover {
                    color: $cyan-light;
                    text-decoration: none;
                }
            }
        }
    }

    &__social {
        text-align: right;
        margin-bottom: 30px;
        vertical-align: top;
        @media($tablet) {
            margin-top: 40px;
        }
        @media($mobile) {
            margin-top: 20px;
            text-align: left;
        }

        &__heading {
            @extend .footer__heading;
            border-bottom: 1px solid #fff;
            padding-bottom: 5px;
            margin-bottom: 5px;
        }

        &__list {
            margin: 0;
            padding: 0;
            list-style: none;
            margin-left: -10px;
            margin-right: -10px;

            li {
                display: inline-block;

                a {
                    display: inline-block;
                    width: 57px;
                    height: 57px;
                    line-height: 57px;
                    text-align: center;
                    background: #fff;
                    @include border-radius(50%);
                    overflow: hidden;
                    color: #333;
                    font-size: 1.876rem;
                    padding: 0;
                    margin: 10px;
                    @include transition(0.3s);
                    @media($medium-desktop) {
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        font-size: 1.5rem;
                        margin: 10px 5px;
                    }
                    @media($mobile) {
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        font-size: 1.4rem;
                        margin: 5px;
                    }

                    &:hover {
                        background: #92d7e7;
                    }
                }
            }
        }
    }

    &__contact {
        text-align: right;
        vertical-align: top;
        @media($mobile) {
            margin-top: 20px;
        }

        &__heading {
            @extend .footer__heading;
            padding-bottom: 5px;
            margin-bottom: 5px;
        }

        img {
            max-width: 100%;
        }
    }

    &__bottom {
        padding: 10px 0;
        text-align: center;
        font-size: 1rem;
        color: $cyan-dark;
    }
}
