.header {
    background: $cyan-dark;
    color:#fff;
    height: 100px;
    position: relative;
    @media($small-desktop) {
        height: 70px;
    }
    @media($mobile) {

    }
    &__logo {
        float:left;
        margin-top: 11px;
        img {
            max-width: 100%;
        }
        @media($medium-desktop) {
            width: 230px;
        }
        @media($small-desktop) {
            width: 180px;
            margin-top: 5px;
        }
        @media($tablet) {
            width: 150px;
        }
        @media($mobile) {
            margin-top: 10px;
        }
    }
    &__secondary {
        margin-top: 30px;
        position: relative;
        @media($small-desktop) {
            margin-top: 15px;
        }
        @media($mobile) {
            display: none;
            clear: both;
            position: absolute;
            top:100%;
            left:0;
            right:0;
            z-index: 5;
            margin: 0;
            padding-bottom: 30px;
            padding-top: 20px;
            background: #fff;
            @include box-shadow(0px 15px 25px rgba(#000,0.1));
        }
    }
    &__menu {
        display: block;
        margin-left: 316px;
        margin-right: 110px;
        @media($medium-desktop) {
            margin-left: 270px;
            margin-right: 100px;
        }
        @media($small-desktop) {
            margin-left: 225px;
            margin-right: 80px;
        }
        @media($tablet) {
            margin-left: 170px;
        }
        @media($mobile) {
            margin: 0;
            text-align: center;
        }
    }
    &__language {
        float:right;
        margin-top: 7px;
        font-size:0;
        position: absolute;
        right:0;
        top:0;
        @media($small-desktop) {
            margin-top: 7px;
        }
        @media($mobile) {
            display: block;
            float:none;
            position: static;
            width: 100%;
            text-align: center;
        }
        a {
            margin-left: 8px;
            display: inline-block;
            @media($medium-desktop) {
                width: 40px;
            }
            @media($small-desktop) {
                width: 30px;
            }
            @media($tablet) {
                width: 25px;
            }
            @media($mobile) {
                width: 30px;
            }
            img {
                max-width: 100%;
            }
        }
        @media($mobile) {
        }
    }
    &__hbg-button {
        position: absolute;
        right:0;
        top:50%;
        @include transform(translateY(-50%));
        width: 25px;
        height: 16px;
        display: inline-block;
        display: none;
        @media($mobile) {
            right:20px;
            display: inline-block;
        }
        & > div {
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom: 0;
            span {
                display: inline-block;
                position: absolute;
                width: 100%;
                height: 2px;
                background: #fff;
                left:50%;
                @include border-radius(5px);
                @include transition(0.3s);
            }
        }

        &__open {
            span {
                &:nth-child(1) {
                    top:0;
                    @include transform(translateX(-50%));
                    transition-delay:0.1s;
                }
                &:nth-child(2) {
                    top:50%;
                    @include transform(translate(-50%,-50%));
                    transition-delay:0.15s;
                }
                &:nth-child(3) {
                    bottom:0;
                    @include transform(translateX(-50%));
                    transition-delay:0.2s;
                }
            }
        }
        &__close {
            span {
                &:nth-child(1) {
                    top:50%;
                    @include transform(translate(-50%,-50%) rotate(45deg));
                    width: 0;
                    transition-delay:0s;
                }
                &:nth-child(2) {
                    top:50%;
                    @include transform(translate(-50%,-50%) rotate(-45deg));
                    width: 0;
                    transition-delay:0.1s;
                }
            }
        }
        &.open {
            .header__hbg-button__open {
                span {
                    &:nth-child(1) {
                        width: 0;
                        transition-delay:0s;
                    }
                    &:nth-child(2) {
                        width: 0;
                        transition-delay:0.05s;
                    }
                    &:nth-child(3) {
                        width: 0;
                        transition-delay:0.1s;
                    }
                }
            }
            .header__hbg-button__close {
                span {
                    &:nth-child(1) {
                        width: 100%;
                        transition-delay:0.1s;
                    }
                    &:nth-child(2) {
                        width: 100%;
                        transition-delay:0.2s;
                    }
                }
            }
        }
    }
    &__phone {
        position: absolute;
        right:60px;
        top:52%;
        @include transform(translateY(-50%));
        font-size: 1.8rem;
        display: inline-block;
        display: none;
        color:#fff;
        @media($mobile) {
            display: inline-block;
        }
    }
}
