.heading {
    margin: 0;
    margin-top: 76px;
    margin-bottom: 60px;
    padding: 0;
    position: relative;
    font-size: 2.25rem;
    color: $cyan-dark;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
    @media($mobile) {
        font-size: 1.85rem;
        margin-top: 30px;
        margin-bottom: 20px;
        padding-bottom: 18px;
    }
    &:before,
    &:after {
        content:"";
        display: inline-block;
        position: absolute;
        bottom:0;
        width: 57px;
        height: 13px;
    }
    &:before {
        right: 50%;
        margin-right: -2px;
        background: url('../img/common/heading-shape-left.png') center no-repeat;
    }
    &:after {
        left:50%;
        margin-left: -2px;
        background: url('../img/common/heading-shape-right.png') center no-repeat;
    }
}
