.main-menu {
    & > ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: table;
        width: 100%;
        color:#fff;
        @media($mobile) {
            display: block;
        }
        & > li {
            display: table-cell;
            position: relative;
            @media($mobile) {
                display: block;
            }
            & > a {
                display: block;
                color:#fff;
                text-transform: uppercase;
                font-size: 1.25rem;
                font-weight: bold;
                padding: 10px 10px;
                text-align: center;
                @include transition(0.3s);
                @media($small-desktop) {
                    font-size: 1rem;
                    padding: 10px 5px;
                }
                @media($tablet) {
                    font-size: 0.9rem;
                    padding: 10px 0;
                }
                @media($mobile) {
                    display: block;
                    color:$cyan-dark;
                    font-size: 1.1rem;
                }
                .fa {
                    font-size: 1rem;
                    margin-left: 8px;
                    @media($tablet) {
                        margin-left: 4px;
                    }
                    @media($mobile) {
                        margin-left: 8px;
                    }
                }
            }
            & > ul {
                position: absolute;
                top:80%;
                left:50%;
                @include transform(translateX(-50%));
                background: #fff;
                text-align: center;
                margin: 0;
                padding: 0;
                list-style: none;
                width: 200px;
                z-index: 5;
                @include transition(0.2s);
                opacity: 0;
                visibility: hidden;
                @media($mobile) {
                    top:0;
                    position: static;
                    @include transform(translateX(0%));
                    opacity: 1;
                    visibility: visible;
                    width: 100%;
                    background: #f5f5f5;
                    border-top: 1px solid #e6e6e6;
                    display: none;
                    @include transition(0s);
                }
                & > li {
                    @media($mobile) {
                        border-bottom: 1px solid #e6e6e6;
                    }
                    & > a {
                        display: block;
                        padding: 7px 10px;
                        text-decoration: none !important;
                        color:#333;
                        @include transition(0.2s);
                    }
                    &:hover {
                        & > a {
                            background: $cyan-light;
                            color:#000;
                        }
                    }
                }
            }
            &:hover {
                & > a {
                    color: $orange;
                    text-decoration: none;
                }
                & > ul {
                    visibility: visible;
                    opacity: 1;
                    top:100%;
                }
            }
        }
    }
}
