.main-search {
    // background: url("../img/home/search-bg.jpg") center no-repeat;
    background-size: cover;
    color:#fff;
    position: relative;
    @media($mobile) {
        background: url("../img/home/search-bg-mb.jpg") center no-repeat;
        background-size: cover;
    }
    &:before {
        content: "";
        display: block;
        position: absolute;
        left:0;
        top:0;
        bottom:0;
        right:0;
        background: rgba(#000, 0.2);
    }
    &__table {
        display: table;
        width: 100%;
        position: relative;
        min-height: 100%;
    }
    &__cell {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        height: 700px;
        @media($medium-desktop) {
            height: 600px;
        }
        @media($small-desktop) {
            height: 500px;
        }
        @media($mobile) {
            height: 450px;
            vertical-align: bottom;
            padding-bottom: 30px;
        }
    }
    &__heading {
        font-size: 3.125rem;
        font-weight: bold;
        margin: 0;
        margin-bottom: 20px;
    }
    &__desc {
        font-size: 1.5rem;
        line-height: 1.2;
        max-width:680px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 0 20px;
        margin-bottom: 30px;
        @media($mobile) {
            font-size: 1.28rem;
        }
    }
    &__form {
        width: 100%;
        max-width: 740px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    &__input {
        width: 100%;
        line-height: 54px;
        border:0;
        width: 100%;
        @include border-radius(5px);
        color: #666666;
        font-size: 1rem;
        padding-left: 65px;
        padding-right: 20px;
        outline: none !important;
        background: rgba(#fff,0.8);
    }
    &__img {
        position: absolute;
        top: 17px;
        left: 23px;
    }
}
