.main-pagination {
    margin-bottom: 80px;
    margin-top: 20px;
    text-align: center;
    @include border-radius(5px);
    @include box-shadow(0px 1px 5px rgba(#000,0.2));
    background: #fff;
    @extend .clearfix;
    clear: both;
    &--margin {
        margin-left: 11%;
        margin-right: 11%;
        width: auto;
        @media($mobile) {
            margin: 0;
            margin-bottom: 30px;
        }
    }
    ul {
        display: table;
        width: auto;
        text-align: center;
        margin: 0;
        padding: 0;
        list-style: none;
        background: #fff;
        margin-left: auto;
        margin-right: auto;
        li {
            display: table-cell;
            font-weight: 300;
            color: $cyan-dark;
            a {
                color: $cyan-dark;
                display: block;
                min-width: 55px;
                height: 55px;
                text-align: center;
                line-height: 55px;
                @include transition(0.3s);
                white-space: nowrap;
                @media($mobile) {
                    min-width: 30px;
                    height: 40px;
                    line-height: 40px;
                }
                span {
                    margin:0 5px;
                }
                &:hover {
                    color:$orange;
                    text-decoration: none;
                }
            }
            &.prev,
            &.next {
                a {
                    padding: 0 15%;
                    @media($mobile) {
                        font-size: 0;
                        span {
                            font-size: 1rem;
                        }
                    }
                }
            }

            &.active {
                a {
                    background: $cyan-dark;
                    color:#fff;
                    text-decoration: none;
                }
            }
        }
    }
}
