#map {
    height: 400px;
    width: 100%;
    position: absolute !important;
    left:0;
    top:0;
    right:0;
    width: 100%;
    bottom:0;
    height: 100%;
    max-height: 100vh;
    &.fixed {
        top:0;
        width: 100%;
        position: fixed !important;
    }
}

.search-map__marker, .search-map__marker:after {
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
}
.search-map__marker {
    cursor: pointer;
    background: rgba(21,157,131,.6);
    margin-top: -.625rem;
    margin-left: -.625rem;
}
