.page-heading {
    position: relative;
    overflow: hidden;
    &:before {
        content: "";
        display: block;
        position: absolute;
        left:0;
        top:0;
        bottom:0;
        right:0;
        background: rgba(#000, 0.4);
        z-index: 1;
    }
    &__background {
        position: absolute;
        top:50%;
        left:50%;
        @include transform(translate(-50%,-50%));
        min-height: 100%;
        min-width: 100%;
        z-index: 0;
    }
    &__table {
        display: table;
        width: 50%;
        position: relative;
        min-height: 100%;
        text-align: left;
        z-index: 2;
        @media($tablet) {
            width: 70%;
        }
        @media($mobile) {
            width: 100%;
            text-align: center;
        }
    }
    &__cell {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        height: 420px;
        color:#fff;
        @media($mobile) {
            text-align: center;
            padding-top: 50px;
        }
    }
    &__heading {
        font-size: 3.125rem;
        font-weight: bold;
        margin: 0;
        margin-bottom: 20px;
    }
    &__desc {
        font-size: 1.5rem;
        line-height: 1.2;
        max-width:680px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 0 0px;
        margin-bottom: 30px;
        @media($mobile) {
            font-size: 1.28rem;
        }
    }
    &__photos {
        margin-top: -100px;
        position: relative;
        z-index: 5;
        margin-bottom: 2px;
        @media($mobile) {
            display: none;
        }
        & > a {
            display: inline-block;
            margin-right: 25px;
            position: relative;
            border:1px solid #fdfdff;
            width: 100%;
            max-width: 195px;
            @media($tablet) {
                max-width: 150px;
            }
            &:after {
                content:"";
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(#000,0.4);
                opacity: 1;
                @include transition(0.3s);
            }
            &:hover {
                &:after {
                    opacity: 0;
                }
            }
            img {
                width: 100%;
            }
        }
        &__more {
            & > span {
                display: block;
                position: absolute;
                text-align: center;
                top:50%;
                left:0;
                right:0;
                @include transform(translateY(-50%));
                z-index: 5;
                color:#fff;
            }
        }
    }
}
.parallax-mirror {
    pointer-events: none;
}
