.promotion-detail {
    padding-top: 50px;
    @extend .clearfix;
    margin-bottom: 100px;
    &__title {
        font-size: 2.25rem;
        color:#000;
        margin: 0 0 50px;
        @media($mobile) {
            font-size: 1.5rem;
            margin-bottom: 30px;
            line-height: 1.4;
        }
    }
    &__img {
        @media($mobile) {
            margin-bottom: 20px;
        }
        img {
            width: 100%;
        }
    }
    &__desc {
        font-size: 1rem;
    }
    &__info {
        @extend .clearfix;
        margin-top:30px;
        @media($mobile) {
            background: #fff;
            float: none;
            margin-left: auto;
            margin-right: auto;
            padding:20px;
            margin-bottom: 20px;
            width: 90%;
            text-align: left;
        }
        &__left {
            float: left;
            max-width: 50%;
            color: $cyan-dark;
            @media($mobile) {
                width: 100%;
                max-width: 100%;
                float: none;
                text-align: center;
            }
            p {
                margin: 0;
                a {
                    color:$cyan-dark;
                    text-decoration: underline;
                    &:hover {
                        color:$orange;
                    }
                }
            }
        }
        &__right {
            float: right;
            max-width: 50%;
            @media($mobile) {
                width: 100%;
                float: none;
                max-width: 100%;
                text-align: center;
            }
        }
    }
    &__btn {
        @extend .button;
        @extend .button--orange;
        @extend .button--radius;
        min-width: 200px;
        margin-bottom: 10px;
    }
    &__price {
        margin-top: 10px;
        @media($mobile) {
            margin-bottom: 20px;
        }
        span {
            display: inline-block;
            font-size: 1.125rem;
            vertical-align: bottom;
            margin-right: 5px;
            color:#919191;
        }
        p {
            color:$orange;
            font-size: 2.5rem;
            font-weight: 600;
            margin: 0;
            display: inline-block;
            vertical-align: bottom;
            line-height: 1;
        }
    }
}
