.schedule {
    // -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    // -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    // box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    background: #fff;
    width: auto;
    display: block;
    vertical-align: top;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    border: 1px solid #acacac;
    padding: 30px 30px 30px 95px;
    color: #577482;
    margin-right: -70px;
    position: relative;
    @media($tablet) {
        margin-right: 0;
    }
    @media($mobile) {
        padding-left: 30px;
    }

    &:after {
        content: "";
        display: block;
        width: 3px;
        position: absolute;
        background: $orange;
        left: 50px;
        top: 35px;
        bottom: 30px;
        @media($mobile) {
            left: 13px;
        }
    }

    ul {
        list-style: none;
        padding-left: 0;
        position: relative;
    }

    img {
        margin-right: 10px;
        margin-bottom: 10px;
        max-width: 100%;
        height: auto !important;
    }

    &__day {
        position: relative;
        color: $orange;
        left: -15px;
        margin-bottom: 5px;
        font-weight: bold;
        @media($mobile) {
            left: 0;
        }

        &:after {
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            @include border-radius(50%);
            @include transform(translateX(-40%));
            position: absolute;
            z-index: 2;
            background: #f65b09;
            left: -30px;
            top: 5px;
            @media($mobile) {
                left: -16px;
            }
        }
    }
}
