.tour-list {
    margin-left: -10px;
    margin-right: -10px;
    font-size: 0;
    text-align: left;
    @extend .clearfix;
    clear: both;

    &--list {
        width: auto;
    }
}

.tour-item {
    width: 33.33%;
    font-size: 1rem;
    display: inline-block;
    padding: 0 10px;
    vertical-align: top;
    margin-bottom: 55px;
    position: relative;
    @media($tablet) {
        width: 50%;
    }
    @media($mobile) {
        width: 100%;
        margin-bottom: 40px;
    }

    a:hover {
        text-decoration: none;
    }

    &--horizontal {
        width: 100%;
        display: table;
    }

    &__wrap {
        @include box-shadow(0px 1px 5px rgba(#000,0.2));
        background: #fff;
        position: relative;

        &:hover {
            .tour-item__btn {
                opacity: 1;
                visibility: visible;
            }
        }
        @include transition(0.3s);
        position: relative;
        top: 0;

        &:hover {
            @include box-shadow(0px 15px 35px rgba(#000,0.2));
            top: -15px;
        }
    }

    &__content {
        padding: 25px;
        position: relative;
        @media($tablet) {
            padding: 15px;
        }

        &--horizontal {
            display: table-cell;
            vertical-align: top;
            position: relative;
        }
    }

    &__label {
        position: absolute;
        left: 0;
        z-index: 2;
        bottom: 0;
        max-width: 95px;

        &--vertical {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;
            max-width: 95px;
        }

        img {
            width: 100%;
        }
    }

    &__img {
        overflow: hidden;
        margin-bottom: 0;
        position: relative;
        font-size: 0;
        line-height: 1;

        &:before {
            content: "";
            display: block;
            height: 10px;
            background: $cyan-dark;
            width: 100%;
            bottom: 0;
            left: 0;
            position: absolute;
        }

        &:after {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-bottom: 25px solid #fff;
            border-right: 25px solid transparent;
            border-left: 25px solid transparent;
            position: absolute;
            bottom: 0;
            left: 25px;
            @media($tablet) {
                border-bottom-width: 15px;
                border-right-width: 15px;
                border-left-width: 15px;
            }
        }

        &--horizontal {
            width: 315px;
            display: table-cell;
            vertical-align: top;

            &:after,
            &:before {
                display: none;
            }
        }

        img {
            width: 100%;
        }
    }

    &__location {
        color: #999999;
        font-size: 1rem;
        margin: 0 0 10px;
    }

    &__title {
        font-size: 1.5rem;
        color: $cyan-dark;
        font-weight: normal;
        margin-bottom: 10px;
        @media($tablet) {
            margin-top: 10px;
            margin-bottom: 15px;
        }
    }

    &__info {
        color: #999;
        font-size: 1rem;
        padding: 0;
        list-style: none;
        padding-left: 20px;
        margin: 0 0 40px;
        @media($tablet) {
            padding-left: 20px;
            margin-bottom: 20px;
        }

        li {
            position: relative;
            padding-left: 28px;
            margin-bottom: 5px;
            @media($tablet) {
                padding-left: 23px;
            }

            &:before {
                content: "";
                display: inline-block;
                position: absolute;
                left: 0;
                top: 2px;
                width: 18px;
                height: 18px;
                background: url('../img/icons/info.png') center no-repeat;
                background-size: contain;
                @media($tablet) {
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }

    &__meta {
        @extend .clearfix;

        &--horizontal {
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
            right: 0;
            bottom: 20px;
            padding: 0 25px;
        }
    }

    &__btn {
        @extend .button;
        @extend .button--cyan-light;
        float: left;
        visibility: hidden;
        opacity: 0;
        @media($tablet) {
            margin-top: 8px;
            visibility: visible;
            opacity: 1;
        }
        @media($mobile) {
            display: none;
        }
    }

    &__price {
        text-align: right;

        span {
            display: block;
            color: #999999;
            font-size: 1rem;
            margin-bottom: -2px;
        }

        p {
            display: block;
            margin: 0;
            color: $orange;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}

.tour-item-horizontal {
    font-size: 1rem;
    display: inline-block;
    padding: 0 10px;
    vertical-align: top;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    display: table;

    a:hover {
        text-decoration: none;
    }

    &__wrap {
        @include box-shadow(0px 1px 5px rgba(#000,0.2));
        background: #fff;
        width: 100%;
        display: table;
        vertical-align: top;
        @include transition(0.2s);
        position: relative;

        &:hover {
            background: $cyan-dark;
            color: #fff;

            .tour-item-horizontal__info,
            .tour-item-horizontal__location,
            .tour-item-horizontal__price,
            .tour-item-horizontal__title {
                color: #fff;

                a {
                    color: #fff;
                }
            }

            .tour-item-horizontal__btn {
                background: #fff;
                color: #919191;

                &:hover {
                    color: #fff;
                    background: $orange;
                }
            }
        }
    }

    &__label {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        max-width: 95px;

        img {
            width: 100%;
        }
    }

    &__content {
        padding: 25px 30px;
        display: table-cell;
        vertical-align: top;
        position: relative;
        @media(max-width: 1600px) {
            padding: 15px;
        }
    }

    &__img {
        overflow: hidden;
        margin-bottom: 0;
        position: relative;
        font-size: 0;
        line-height: 1;
        width: 315px;
        display: table-cell;
        vertical-align: top;
        background: $cyan-dark;
        @media(max-width: 1600px) {
            width: 40%;
        }

        img {
            width: auto;
            position: absolute;
            left: 50%;
            top: 0;
            min-height: 100%;
            min-width: 100%;
            @include transform(translateX(-50%));
        }
    }

    &__location {
        color: #999999;
        font-size: 1rem;
        margin: 0 0 15px;
    }

    &__title {
        font-size: 1.5rem;
        color: $cyan-dark;
        margin-bottom: 34px;
        font-weight: bold;
        margin-top: 0;
        @media($small-desktop) {
            margin-bottom: 20px;
        }
    }

    &__info {
        color: #999;
        font-size: 1rem;
        padding: 0;
        list-style: none;
        padding-left: 0;
        margin: 0 0 80px;
        @media($small-desktop) {
            margin-bottom: 60px;
        }

        li {
            position: relative;
            padding-left: 28px;
            margin-bottom: 5px;

            &:before {
                content: "";
                display: inline-block;
                position: absolute;
                left: 0;
                top: 2px;
                width: 18px;
                height: 18px;
                background: url('../img/icons/info.png') center no-repeat;
                background-size: contain;
            }
        }
    }

    &__meta {
        @extend .clearfix;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 40px;
        padding: 0 30px;
        @media(max-width: 1600px) {
            padding: 0 15px;
            bottom: 15px;
        }
    }

    &__btn {
        @extend .button;
        @extend .button--cyan-light;
        float: left;
        font-size: 1rem;
        line-height: 40px;
        padding: 0 15px;
        margin-top: 15px;
        @media($mobile) {
            display: none;
        }
    }

    &__price {
        text-align: right;
        color: $orange;

        span {
            display: block;
            font-size: 1rem;
            margin-bottom: -5px;
        }

        p {
            display: block;
            margin: 0;
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: -5px;
        }
    }

    &.active {
        .tour-item-horizontal__wrap {
            background: $cyan-dark;
            color: #fff;
        }

        .tour-item-horizontal__info,
        .tour-item-horizontal__location,
        .tour-item-horizontal__price,
        .tour-item-horizontal__title {
            color: #fff;

            a {
                color: #fff;
            }
        }

        .tour-item-horizontal__btn {
            background: #fff;
            color: #919191;

            &:hover {
                color: #fff;
                background: $orange;
            }
        }
    }
}

.tour-item-horizontal-label {
    font-size: 1rem;
    display: inline-block;
    padding: 0 10px;
    vertical-align: top;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    display: table;

    a:hover {
        text-decoration: none;
    }

    &__wrap {
        @include box-shadow(0px 1px 5px rgba(#000,0.2));
        background: #fff;
        width: 100%;
        display: table;
        vertical-align: top;
        @include transition(0.2s);
        border: 1px solid $cyan-dark;
        position: relative;

        &:hover {
            .tour-item-horizontal__btn {
                background: #fff;
                color: #919191;

                &:hover {
                    color: #fff;
                    background: $orange;
                }
            }
        }
    }

    &__content {
        padding: 25px 40px 25px 30px;
        display: table-cell;
        vertical-align: top;
        position: relative;
    }

    &__img {
        overflow: hidden;
        margin-bottom: 0;
        position: relative;
        font-size: 0;
        line-height: 1;
        width: 315px;
        display: table-cell;
        vertical-align: top;
        background: $cyan-dark;
        @media(max-width: 1600px) {
            width: 40%;
        }

        img {
            width: 100%;
        }
    }

    &__location {
        color: #999999;
        font-size: 1rem;
        margin: 0 0 15px;
    }

    &__title {
        font-size: 1.5rem;
        color: $cyan-dark;
        margin-bottom: 34px;
        font-weight: bold;
        margin-top: 0;
        @media($mobile) {
            padding-top: 40px;
            margin-bottom: 15px;
        }

        a {
            color: $cyan-dark;
            @include transition(0.3s);

            &:hover {
                color: $orange;
            }
        }
    }

    &__info {
        color: #717171;
        font-size: 1rem;
        padding: 0;
        list-style: none;
        padding-left: 6%;
        margin: 0 0 80px;
        @media($mobile) {
            margin-bottom: 60px;
        }

        li {
            position: relative;
            padding-left: 28px;
            margin-bottom: 5px;

            &:before {
                content: "";
                display: inline-block;
                position: absolute;
                left: 0;
                top: 2px;
                width: 18px;
                height: 18px;
                background: url('../img/icons/info.png') center no-repeat;
                background-size: contain;
            }
        }
    }

    &__meta {
        @extend .clearfix;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 40px;
        padding: 0 40px;
        @media(max-width: 1600px) {
            padding: 0 15px;
            bottom: 15px;
        }
    }

    &__btn {
        @extend .button;
        @extend .button--big;
        @extend .button--cyan-light;
        float: right;
        font-size: 1.25rem;
        line-height: 46px;
        padding: 0 15px;
        margin-top: 15px;
        @media($small-desktop) {
            float: left;
        }
        @media($mobile) {
            line-height: 40px;
            font-size: 1rem;
            margin-top: 0;
            color: #333;
            display: none;
        }

        &:after {
            content: "";
            display: inline-block;
            width: 15px;
            height: 15px;
            border-right: 1px solid #fff;
            border-bottom: 1px solid #fff;
            @include transform(rotate(-45deg));
            margin-left: 50px;
            @media($mobile) {
                margin-left: 10px;
                width: 10px;
                height: 10px;
            }
        }
    }

    &__secondary {
        position: absolute;
        right: 40px;
        top: 20px;
    }

    &__price {
        float: right;
        text-align: center;
        position: absolute;
        right: 40px;
        top: 20px;
        @media($small-desktop) {
            top: auto;
            bottom: 20px;
            right: 20px;
        }
        @media($mobile) {
            bottom: 15px;
        }

        & > span {
            display: inline-block;
            vertical-align: middle;
            font-size: 1rem;
            color: #717171;
            position: relative;
            top: -7px;
        }

        p {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
        }

        &__value {
            font-size: 1.5rem;
            color: $orange;
            font-weight: bold;
            display: block;
            margin: 0 0 -5px;
        }

        &__unit {
            color: #717171;
            font-size: 1rem;
            margin: 0;
        }
    }

    &__labels {
        margin-right: 0;
        position: absolute;
        right: 160px;
        top: 20px;
        @media($small-desktop) {
            right: 20px;
            top: 20px;
        }
        @media($tablet) {
            position: static;
            margin-top: -20px;
            margin-bottom: 20px;
        }
        @media($mobile) {
            position: absolute;
            right: 15px;
            top: 15px;
            margin: 0;
        }
    }

    &__label {
        @extend .label;
        background: $cyan-dark;
        color: #fff;
        line-height: 30px;
        height: 30px;
        display: inline-block;
        @include border-radius(5px);
        font-size: 0.875rem;
        font-weight: 400;
        text-transform: uppercase;
        padding: 0 10px;

        &--purple {
            background: #8781bd;
        }

        &--red {
            background: #f26d7d;
        }

        .fa {
            margin-right: 5px;
        }
    }
}
