.tour-popup {
    width: 100%;
    //max-width: 420px;
    background: #fff;
    padding: 20px;
    z-index: 99;
    border: 1px solid $cyan-dark;
    display: none;

    &__heading {
        text-align: center;
        color: $cyan-dark;
        font-weight: bold;
        margin: 0;
        font-size: 24px;
        padding-top: 15px;
    }

    &__title {
        text-align: center;
        font-size: 1.375rem;
        color: $cyan-dark;
        font-weight: bold;
    }

    &__section {
        border-bottom: 1px solid $cyan-dark;
        padding-bottom: 15px;
        padding-top: 15px;
        @extend .clearfix;

        .col-xs-12 {
            margin-bottom: 10px;
        }

        &:last-child {
            border-bottom: 0;
        }
    }

    &__datepicker {
        width: 100%;
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;

        .datepicker-inline {
            width: 100%;
        }

        .datepicker table {
            width: 100%;
        }

        thead {
            .datepicker-switch {
                background: $cyan-dark;
                color: #fff;
                @include border-radius(0);

                &:hover {
                    background: $cyan-light;
                }
            }

            .next,
            .prev {
                background: $cyan-dark;
                color: #fff;
                @include border-radius(0);

                &:hover {
                    background: $cyan-light;
                }
            }
        }

        td {
            font-weight: 600;

            &.active,
            &:hover {
                background: url('../img/icons/circle-cyan-dark.png') center no-repeat !important;
                background-size: contain !important;
                // position: relative;
                // background: none !important;
                color: #fff !important;
                // &:before {
                //     display: inline-block;
                //     content:"";
                //     width: 32px;
                //     height: 32px;
                //     position: absolute;
                //     top:0;
                //     left: 50%;
                //     @include transform(translateX(-50%));
                //     background: $cyan-dark;
                //     @include border-radius(50%);
                //     z-index: -1;
                // }
            }
        }
    }

    &__table {
        display: table;
        width: 100%;
    }

    &__cell {
        display: table-cell;
        min-width: 87px;
        color: $cyan-dark;
        font-size: 1.5rem;
        @media($mobile) {
            min-width: 95px;
        }
        @media($mobile) {
            font-size: 1.1rem;
        }

        &:first-child {
            padding-right: 10px;
        }

        &--max {
            width: 100%;
        }
    }

    &__label {
        color: $cyan-dark;
        font-size: 1rem;
        font-weight: 600;
        margin: 0 8px 0 0;
    }

    &__select {
        border: 1px solid $cyan-dark;
        @include border-radius(5px);
        padding: 3px 10px;
        line-height: 32px;
        outline: none;
        min-width: 60px;
        margin-bottom: 10px;
        font-size: 1rem;
        background: #fff;
        width: 100%;
        @media($mobile) {
            margin-bottom: 10px;
        }
    }

    &__selection {
        width: 100%;
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    &__selects {
        float: right;
        width: calc(100% - 80px);
        margin-top: -2px;
    }

    &__check {
        text-align: right;
        min-width: 60px;
        margin-left: 10px !important;
        margin-right: 0;
        margin-bottom: 20px !important;
        cursor: pointer;
        font-weight: 600;
        @media($mobile) {
            margin-bottom: 10px;
        }

        input {
            display: none;

            & + span {
                display: inline-block;
                height: 25px;
                width: 25px;
                @include border-radius(5px);
                border: 1px solid $cyan-dark;
                vertical-align: middle;
                margin-left: 10px;
                position: relative;

                &:after {
                    content: "";
                    width: 30px;
                    height: 20px;
                    background: url('../img/icons/check.png') center no-repeat;
                    background-size: contain;
                    position: absolute;
                    top: -5px;
                    right: -10px;
                    @include transition(0.3s);
                    opacity: 0;
                }
            }
        }

        input:checked + span {
            &:after {
                opacity: 1;
            }
        }
    }

    &__text-right {
        text-align: right;
    }

    &__input {
        border: 1px solid $cyan-dark;
        @include border-radius(5px);
        padding: 0 10px;
        line-height: 32px;
        outline: none;
        min-width: 60px;
        margin-bottom: 10px;
        font-size: 1rem;
        width: 100%;
        @media($mobile) {
            margin-bottom: 10px;
        }
        @include placeholder {
            color: #b7b7b7;
        }
    }

    &__btn {
        @extend .button;
        @extend .button--orange;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 0;
    }
}
