.tour-gallery {
    background: #333;
    overflow: hidden;
    &__slideshow {
        img {

        }
    }
    &__nav {
        margin-left: -5px;
        margin-right: -5px;
        padding:5px 20px 5px;
        margin-bottom: 0;
        list-style: none;
        line-height: 0;
        li {
            display: inline-block;
            width: 16.66%;
            padding:5px;
            a {
                display: inline-block;
                width: 100%;
                img {width: 100%;}
            }
        }
    }
}
