.tour-detail {
    padding-top: 35px;
    padding-bottom: 35px;
    &__primary {
        border-left: 2px solid $cyan-dark;
        padding-left: 35px;
        @media($mobile) {
            display: block;
            border:0;
            padding-left: 0;
        }
    }
    &__title {
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
        color:$orange;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: bold;
        @media($mobile) {
            display: none;
        }
    }
    &__secondary {
        float: right;
        min-width: 210px;
        @media($mobile) {
            background: #fff;
            float: none;
            margin-left: auto;
            margin-right: auto;
            padding:20px;
            margin-bottom: 20px;
            width: 90%;
            text-align: left;
        }
    }
    &__price {
        float:right;
        & > span {
            display: inline-block;
            vertical-align: middle;
            font-size: 1.25rem;
            color:#acacac;
        }
        p {
            display: inline-block;
            vertical-align: middle;
        }
        &__value {
            font-size: 2.5rem;
            color: $orange;
            font-weight: bold;
            display: block;
            margin: 0;
            margin-bottom: -10px;
        }
        &__unit {
            color:#acacac;
            font-size: 1.25rem;
            margin: 0;
        }
    }
    &__info {
        color: #919191;
        font-size: 1rem;
        padding: 0;
        list-style: none;
        padding-left: 0px;
        margin: 0 0 10px;
        @extend .clearfix;
        clear: both;
        li {
            position: relative;
            padding-left: 28px;
            margin-bottom: 5px;
            &:before {
                content: "";
                display: inline-block;
                position: absolute;
                left:0;
                top:2px;
                width: 18px;
                height: 18px;
                background: url('../img/icons/info.png') center no-repeat;
                background-size: contain;
            }
        }
    }
    &__btn {
        @extend .button;
        @extend .button--orange;
        @extend .button--radius;
        min-width: 100%;
        margin-bottom: 10px;
    }
    &__action {
        @media($mobile) {
            text-align: center;
        }
        p {
            margin: 0;
            a {
                color:$cyan-dark;
                text-decoration: underline;
                &:hover {
                    color:$orange;
                }
            }
        }
    }
}
