
<div class="body-bottom">
  <div class="container">
    <p class="body-bottom__text">Book with confidence... We are the best golf tours company</p>
    <a href="#enquire-popup" class="body-bottom__btn js-enquire-popup-open">Enquire now</a>
  </div>
</div>
