
<footer class="footer">
  <div class="footer__top">
    <div class="container">
        <div class="row">
            <div class="footer__column col-md-4">
                <div class="footer__company-info">
                    <a href="#" class="footer__company-info__logo"><img src="assets/img/common/logo.png" alt=""></a>
                    <ul>
                        <li>202, 59, Banpo-daero 22-gil, Seocho-gu, Seoul, Republic of Korea</li>
                    </ul>
                </div>
                <div class="footer__newsletter">
                    <div class="footer__newsletter__heading">If you have any question</div>
                    <div class="footer__newsletter__desc">In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis</div>
                    <div class="footer__newsletter__form">
                        <input type="text" placeholder="" class="footer__newsletter__input">
                        <button class="footer__newsletter__btn"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <div class="footer__column col-md-3 col-md-offset-1 col-sm-6">
                <ul class="footer__links">
                    <li><a href="#">VietNam</a></li>
                    <li><a href="#">HongKong &amp; Macau</a></li>
                    <li><a href="#">Manila</a></li>
                    <li><a href="#">Golf Tours</a></li>
                    <li><a href="#">Promotions</a></li>
                </ul>
            </div>
            <div class="footer__column col-md-3 col-md-offset-1 col-sm-6">
                <div class="row">
                    <div class="footer__social col-sm-12 col-xs-6">
                        <div class="footer__social__heading">Follow us</div>
                        <ul class="footer__social__list">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="footer__contact col-sm-12 col-xs-6">
                        <div class="footer__contact__heading">Contact us</div>
                        <div class="footer__contact__content">
                            <a href="#"><img src="assets/img/common/qr-code.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="footer__bottom">
        <div class="container">
            ©2017 Popogolf. All rights reserved.
        </div>
  </div>
</footer>
