<header class="header">
	<div class="container">
		<div class="header__logo"><img src="assets/img/common/logo.png" alt=""></div>
		<div class="header__secondary">
			<div class="header__menu">
				<div class="main-menu">
					<ul>
						<li>
							<a href="#">Vietnam<i class="fa fa-caret-down" aria-hidden="true"></i></a>
							<ul>
								<li><a href="#">Northern</a></li>
								<li><a href="#">Central</a></li>
								<li><a href="#">Southern</a></li>
							</ul>
						</li>
						<li><a href="#">HongKong &amp; Macau</a></li>
						<li class="active"><a href="#">Manila</a></li>
						<li><a href="#">Golf Tours</a></li>
						<li><a href="#">Promotions</a></li>
					</ul>
				</div>
			</div>
			<div class="header__language">
				<div class="language">
					<a href="#"><img src="assets/img/common/flag-kr.png"></a>
					<a href="#"><img src="assets/img/common/flag-en.png"></a>
				</div>
			</div>
		</div>
		<a href="tel:1231122312" class="header__phone"><i class="fa fa-phone" aria-hidden="true"></i></a>
		<div class="header__hbg-button">
			<div class="header__hbg-button__open">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="header__hbg-button__close">
				<span></span>
				<span></span>
			</div>
		</div>
	</div><!--container-->
</header>
