@mixin border-radius($border-radius) {
    @include prefixer(border-radius, $border-radius, webkit moz spec);
}

@mixin font-size($sizeValue: 16, $line: $sizeValue * 1.2) {
    font-size: ($sizeValue) + px;
    line-height: ($line) + px;
    //font-size: ($sizeValue / 16) + rem;
    //line-height: ($line / 16) + rem;
}

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

// rotate
@mixin rotate($deg) {
    @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
    @include transform(scale($scale));
}

// translate
@mixin translate($x, $y) {
    @include transform(translate($x, $y));
}

// skew
@mixin skew($x, $y) {
    @include transform(skew(#{$x}deg, #{$y}deg));
}

//transform origin
@mixin transform-origin($origin) {
    moz-transform-origin: $origin;
    -o-transform-origin: $origin;
    -ms-transform-origin: $origin;
    -webkit-transform-origin: $origin;
    transform-origin: $origin;
}

@mixin close-popup{
    @include position(absolute, 0px 0px null null);
    z-index: 9;
    width: 50px;
    height: 50px;
    background: $main-color;

    span {
        display: block;
        width: 100%;
        height: 100%;
        @include transition(all 500ms $ease-out-cubic);

        &:after {
            width: 24px;
            height: 4px;
            background-color: #FFF;
            content: "";
            left: 50%;
            top: 50%;
            margin-left: -12px;
            margin-top: -2px;
            position: absolute;
            @include transform(rotate(-45deg));
        }

        &:before {
            left: 50%;
            top: 50%;
            margin-left: -12px;
            margin-top: -2px;
            width: 24px;
            height: 4px;
            background-color: #FFF;
            content: "";
            position: absolute;
            @include transform(rotate(45deg));
        }
    }

    &:hover {
        span {
            @include transform(rotate(90deg));
        }
    }

    @media (max-width: 1240px) {
        width: 40px;
        height: 40px;
    }
}

@mixin heading{
    @include poetsenoneregular;
    font-size: 34px;
    text-align: center;
    line-height: 41px;
    color: $heading-color;
    margin-top: 10px;

    @media (max-width: $tablet_max) {
        font-size: 24px;
        line-height: 30px;
    }

    @media (max-width: $mobile) {
        width: 80%;
        margin: 0 auto;
    }
}

@mixin description{
    margin-top: 20px;
    @include san_francisco_regular;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $description-color;

    @media (max-width: $mobile) {
        width: 80%;
        margin: 0 auto;
    }
}

@mixin main-button {
    @include san_francisco_semibold;
    font-size: 15px;
    color: #fff;
    display: inline-block;
    line-height: 40px;
    background: $main-color;
    padding-left: 25px;
    padding-right: 40px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    min-height: 40px;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        z-index: 2;
        -webkit-transform: scale3d(0.9, 0.9, 1);
        transform: scale3d(0.9, 0.9, 1);
        -webkit-transition: box-shadow 0.3s, -webkit-transform 0.3;
        transition: box-shadow 0.3s, transform 0.3s;
    }

    i {
        position: absolute;
        right: 17px;
        top: 12px;
        //transition: all .3s ease-in-out;
    }

    .animation-after {
        opacity: 0;
        //display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        color: #183186;
        text-align: center;
        padding: 0px 40px 0px 25px;

        i {
            color: #183186;
            //right: 11px;
        }
    }

    &:hover, &:active, &:focus {
        text-decoration: none;
        color: #FFF;
    }
}
@mixin reverse-main-button{
    @include san_francisco_semibold;
    font-size: 15px;
    color: $main-color;
    display: inline-block;
    line-height: 40px;
    background: #fff;
    padding-left: 25px;
    padding-right: 40px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    min-height: 40px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 2px solid $main-color;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        z-index: 2;
        -webkit-transform: scale3d(0.9, 0.9, 1);
        transform: scale3d(0.9, 0.9, 1);
        -webkit-transition: box-shadow 0.3s, -webkit-transform 0.3;
        transition: box-shadow 0.3s, transform 0.3s;
    }

    i {
        position: absolute;
        right: 17px;
        top: 12px;
        transition: right .3s $ease-in-sine;
    }
    &:hover{
        color: #fff;
        background: $main-color;
        i{
            right: 10px;
        }
    }
}

@function stroke($stroke, $color) {
    $shadow: ();
    $from: $stroke*-1;
    @for $i from $from through $stroke {
        @for $j from $from through $stroke {
            $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
        }
    }
    @return $shadow;
}
/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
    text-shadow: stroke($stroke, $color);
}

@mixin placeholder {
	&::-webkit-input-placeholder {@content}
	&:-moz-placeholder           {@content}
	&::-moz-placeholder          {@content}
	&:-ms-input-placeholder      {@content}
}
