@mixin san_francisco_bold{
  font-family: "San Francisco Bold", Helvetica, Arial, sans-serif;
}
@mixin san_francisco_semibold{
  font-family: "San Francisco SemiBold", Helvetica, Arial, sans-serif;
}
@mixin san_francisco_regular{
  font-family: "San Francisco Regular", Helvetica, Arial, sans-serif;
}
@mixin san_francisco_medium{
  font-family: "San Francisco Medium", Helvetica, Arial, sans-serif;
}

@mixin poetsenoneregular{
  font-family: "PoetsenOneRegular", Helvetica, Arial, sans-serif;
}

@mixin roboto_bold{
  font-family: 'Roboto Bold', Helvetica, Arial, sans-serif;
}
@mixin iCielPony{
    font-family: 'iCielPony', Helvetica, Arial, sans-serif;
}
@mixin iCielTexta{
    font-family: 'iCielTexta', Helvetica, Arial, sans-serif;
}
@mixin iCielTexta-Bold{
    font-family: 'iCielTexta-Bold', Helvetica, Arial, sans-serif;
}
@mixin iCielTexta-Heavy{
    font-family: 'iCielTexta-Heavy', Helvetica, Arial, sans-serif;
}
@mixin SVN-HapticScript{
    font-family: 'SVN-HapticScript', Helvetica, Arial, sans-serif;
}
