.more-posts {
    background: #f5f5f4;
    &__tab {
        background: $cyan-light;
        color:$cyan-dark;
        @media($mobile) {
            background: $cyan-dark;
            color:#fff;
        }
        .nav-tabs > li {
            margin: 0;
            padding: 0;
            border: 0;
            background: none;
            @media($mobile) {
                width: 50%;
                &:first-child {
                    border-right: 1px solid #fff;
                }
            }
        }
        .nav-tabs > li > a {
            font-size: 1.5rem;
            color: $cyan-dark;
            font-weight: bold;
            background: none;
            border: 0;
            @include border-radius(0px);
            margin: 0;
            min-width: 200px;
            text-align: center;
            @include transition(0.3s);
            @media($mobile) {
                min-width: 100px;
                color:#fff;
                font-size: 1.2rem;
                margin: 0;
            }
            &:hover {
                color: #000;
            }
        }
        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            color:#fff;
            background: $cyan-dark;
            border:0;
            margin: 0;
            @media($mobile){
                color:$orange;
            }
        }
    }
    &__content {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
