.clubs-section {
    margin-bottom: 65px;
    text-align: center;
    @media($mobile) {
        margin-bottom: 30px;
    }
    &__heading {
        @extend .heading;
    }
    &__more-btn {
        @extend .button;
        @extend .button--border;
        @extend .button--radius;
        @extend .button--big;
        @extend .button--arrow-right;
        @media($mobile) {
            background: $cyan-dark;
            color: #fff;
            &:after {
                border-color: #fff;
            }
            &:hover {
                background: $cyan-light;
                border-color: $cyan-light;
            }
        }
    }
}

.tours-section {
    background: #f5f5f4;
    text-align: center;
    padding-bottom: 80px;
    @media($mobile) {
        padding-bottom: 40px;
    }
    &__heading {
        @extend .heading;
    }
    &__more-btn {
        @extend .button;
        @extend .button--border;
        @extend .button--radius;
        @extend .button--big;
        @extend .button--arrow-right;
        @media($mobile) {
            background: $cyan-dark;
            color: #fff;
            &:hover {
                background: $cyan-light;
            }
        }
    }
}
