.promotion-page {
    position: relative;
    top:-100px;
    z-index: 2;

    @media($mobile) {
        top:0;
    }
    &:before {
        content:"";
        position: absolute;
        width: 90%;
        left:50%;
        top:0;
        @include transform(translateX(-50%));
        background: #fff;
        height: 100%;
        z-index: -1;
        max-width: 1600px;
    }
    .container {
        background: #fff;
    }
    &__note {
        font-size: 1.5rem;
        color: #919191;
        line-height: 1.6;
        @media($mobile) {
            font-size: 1.2rem;
            margin-bottom: 40px;
            text-align: center;
        }
    }
}
