.tours-page {
    background: #f5f5f4;
    &__filter {
        @extend .clearfix;
        padding: 20px 0;
        margin-bottom: 20px;
        @media($mobile) {
            margin-top: -100px;
            position: relative;
            z-index: 2;
            margin-bottom: 40px;
        }
        &__table {
            display: table;
            width: 100%;
        }
        &__cell {
            display: table-cell;
            vertical-align: top;
            &--full-width {
                width: 100%;
            }
        }
        &__display {
            width: 280px;
            float: left;
            margin-left: -10px;
            margin-right: -10px;
            @media($tablet) {
                display: none;
            }
            a {
                display: inline-block;
                width: 110px;
                line-height: 50px;
                font-size: 1rem;
                margin:0 10px;
                text-transform: uppercase;
                text-align: center;
                @include border-radius(5px);
                position: relative;
                border:1px solid $cyan-dark;
                background: #fff;
                color: $cyan-dark;
                @include transition(0.2s);
                &:after {
                    content: "";
                    display: inline-block;
                    width: 0;
                    height: 0;
                    border-top:20px solid $cyan-dark;
                    border-right:20px solid transparent;
                    border-left:20px solid transparent;
                    position: absolute;
                    top:100%;
                    left:50%;
                    @include transform(translateX(-50%));
                    opacity: 0;
                    @include transition(0.2s);
                }
                &:hover {
                    text-decoration: none;
                    background: $cyan-dark;
                    color:#fff;
                }
                &.active {
                    background: $cyan-dark;
                    color:#fff;
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
        &__form {
            float:right;
            width: calc(100% - 380px);
            @media($tablet) {
                width: 100%;
            }
            .select2-container {
                outline: 0;
                border: 0;
                @include border-radius(0px);
                float: left;
            }
            .select2-selection--single {
                outline: 0;
                border: 0;
                border-top: 1px solid #b1b1b1;
                border-bottom: 1px solid #b1b1b1;
                @include border-radius(0px);
                height: 50px;
                line-height: 50px;
                @media($mobile) {
                    line-height: 40px;
                    height: 40px;
                }
                .select2-selection__rendered {
                    height: 50px;
                    line-height: 50px;
                    color:#919191;
                    @media($mobile) {
                        line-height: 38px;
                        height: 38px;
                    }
                }
                .select2-selection__arrow {
                    top:50%;
                    @include transform(translateY(-50%));
                }
            }
        }
        &__select {
            &--nation {
                & ~ .select2-container {
                    @include border-radius(5px 0 0 5px);
                    border-left: 1px solid #b1b1b1;
                    border-right: 1px solid #b1b1b1;
                    @media($mobile) {
                        //border: 0;
                        width: 50px !important;
                    }
                    .select2-selection--single {
                        @include border-radius(5px 0 0 5px);
                    }
                }
            }
            &--schedule {
                @media($mobile) {
                    //display: none;
                    & ~ .select2-container {
                        width: 70px !important;
                    }
                    ~ span {
                        //display: none;
                    }
                }
            }
        }
        &__input-container {
            border:1px solid #b1b1b1;
            @include border-radius(5px);
            @extend .clearfix;
            background: #fff;
        }
        &__input {
            border:0;
            line-height: 48px;
            width: 100%;
            padding: 0 15px;
            border: 1px solid #b1b1b1;
            @include border-radius(0 5px 5px 0);
            outline: none;
            @media($mobile) {
                line-height: 38px;
            }
        }
        &__submit {
            float:left;
            margin-left: 25px;
            @extend .button;
            @extend .button--cyan-dark;
            @extend .button--radius;
            @extend .button--big;
            font-size: 1rem;
            line-height: 50px;
            padding-left: 30px;
            padding-right: 30px;
            @media($mobile) {
                margin-left: 5px;
                line-height: 40px;
                font-size: 1rem;
                padding: 0 15px;
            }
        }
    }
    &__content {
        position: relative;
        .container {
            position: relative;
            z-index: 2;
        }
        &__map {
            display: none;
            @media($tablet) {
                display: none !important;
            }
            &.active {
                display: block;
            }
            // position: absolute;
            // top:0;
            // bottom: 0;
            // left: 0;
            // width: 100%;
            // &.fixed {
            //     position: fixed;
            //     top:0;
            //     left: 0;
            //     right: 0;
            // }
            &__tour-list {
                margin-left: 4.5%;
                width: 100%;
                max-width: 805px;
                position: relative;
                z-index: 2;
                padding-top: 160px;
                padding-bottom: 80px;
                @media(max-width: 1600px) {
                    max-width: 40%;
                    padding-top: 100px;
                }
                @media($small-desktop) {
                    max-width: 45%;
                }
            }
        }
        &__list {
            display: none;
            @media($tablet) {
                display: block !important;
            }
            &.active {
                display: block;
            }
        }
    }
}
